@import '../common/bourbon/bourbon';
@import '../common/neat/neat';
@import '../libs/typography';
@import '../libs/helpers.scss';

header{
	font-family: 'Mountains of Christmas', cursive;
	font-size:20px;
	@include outer-container(630px);
	ul{
		list-style-type: none;
	    text-align: center;
	    margin: 0 auto;
	    padding: 0px;
	    /* border: 1px solid red; */
	    display: table;
	    overflow: hidden;
		li{

		    list-style-type: none;
		    background-color: blue;
		    
		    float: left;
		    padding: 14px;
		    margin-left: auto;
		    margin-right: auto;
		    border-right: 1px solid white;
			a{
				text-decoration:none;
				color:white; 
				cursor: pointer;
			}
		}
	}
}