<div class='recipe' >

         <form ng-submit="addRecipe()" name="form.cadTel">
            <toaster-container></toaster-container>
            	<div class="recipe-row">
            		<input placeholder="Introduce tu nombre" class="recipe-row-inputField" ng-model="name" required />
            	</div>
            	<div class="recipe-row">
            		<input placeholder="Introduce el nombre del plato" class="recipe-row-inputField" ng-model="dish" required  />
            	</div>
            	<div class="recipe-row">
            		<select class="recipe-row-inputField" ng-model="type" required >
                     <option value="">-- Selecciona la categoria de tu plato --</option>
                     <option value="Carne">Carne</option>
                     <option value="Pescado">Pescado</option>
                     <option value="Cuchara">Cuchara</option>
                     <option value="Postre">Postre</option>
                     <option value="Pasta">Pasta</option>
                     <option value="Entrante">Entrante</option>
                     <option value="Dulce">Dulce</option>
                  </select>


            	</div>
            	<div class="recipe-row">
            		<select class="recipe-row-inputField" ng-model="class" required >
                     <option value="">-- Selecciona el momento --</option>
                     <option value="D">Desayuno</option>
                     <option value="C">Comida</option>
                     <option value="S">Cena</option>
                  </select>
            	</div>
            	<div class="recipe-row">
            		<select class="recipe-row-inputField"  ng-model="date" ng-init="date = options[0]" required> 
                     <option value="">-- Selecciona la fecha --</option>
                     <option value="24">24 de Diciembre</option>
                     <option value="25">25 de Diciembre</option>
                     <option value="26">26 de Diciembre</option>
                  </select>
            	</div>
            	<button class="recipe-button" type="submit">
            		Enviar
            	</button>
               <button class="recipe-button" type="reset">
                  Limpiar
               </button>
         </form>
      </div>