<div class="container">
	<h2 class="title-list">CENA</h2>
	<h3 class="title-order">Primeros / Entrantes</h3>
	<ul>
		<li class="container-list" ng-repeat="item in data" ng-if="item.date==24 && item.order == 1">
			<span class="container-list-dish">{{ item.dish }}</span>
			<span class="container-list-text">cortesía de </span>
			<span class="container-list-dish">{{ item.name }}</span>
			<span class="container-list-text">Tipo de Plato</span>
			<span class="container-list-dish">{{ item.type }}</span>
		</li>
	</ul>
	<h3 class="title-order">Segundos</h3>
	<ul>
		<li class="container-list" ng-repeat="item in data" ng-if="item.date==24 && item.order == 2">
			<span class="container-list-dish">{{ item.dish }}</span>
			<span class="container-list-text">cortesía de </span>
			<span class="container-list-dish">{{ item.name }}</span>
			<span class="container-list-text">Tipo de Plato</span>
			<span class="container-list-dish">{{ item.type }}</span>
		</li>
	</ul>
	<h3 class="title-order">Postres</h3>
	<ul>
		<li class="container-list" ng-repeat="item in data" ng-if="item.date==24 && item.order == 3">
			<span class="container-list-dish">{{ item.dish }}</span>
			<span class="container-list-text">cortesía de </span>
			<span class="container-list-dish">{{ item.name }}</span>
			<span class="container-list-text">Tipo de Plato</span>
			<span class="container-list-dish">{{ item.type }}</span>
		</li>
	</ul>
</div>